@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
	--fontFamily: "Poppins", sans-serif;
	--black: #000000;
	--black50: #ababab;
	--black20: #cccccc;
	--lightblue: #276ef1;
	--red: #ff505f;
	--yellow: #ffc846;
	--green: #3ccd78;
	--grey: #7f7f7f;
	--lightgrey: #a6a6a6;
	--lightergrey: #d9d9d9;
	--lighestgrey: #f2f2f2;
	--normal: 400;
	--semibold: 600;
	--bold: 700;
}

#root {
	margin: 0 auto;
	text-align: center;
	min-height: 100vh;
	width: 100%;
}
